body {
    background-color: #a6e1ec;
    font-family: 'Open Sans', sans-serif;
}

.essay-question {
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff;

    width: 60%;
}

.website-name {
    font-size: larger;
}

.question-submit {
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff;

    width: 70%;
}

.question-submit h2 {
    text-align: center;
}

/*From http://www.virtuosoft.eu/tools/css-gradient-generator*/
.gradient {
    background-color: #0292b6;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMGM0ZjQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAzNjA3OCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, rgb(0, 196, 244)), color-stop(1, rgb(3, 96, 120)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, rgb(0, 196, 244) 0%, rgb(3, 96, 120) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, rgb(0, 196, 244) 0%, rgb(3, 96, 120) 100%);
    background-image: -ms-repeating-linear-gradient(top left, rgb(0, 196, 244) 0%, rgb(3, 96, 120) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00c4f4", endColorstr="#ff036078", GradientType=0);
    }
}
